<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p v-bind:id="uuid" :class="name">{{ num }}</p>
        <p id="abc1234">{{ doubleNum }}</p>
        {{ str }}
        
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            test user has been logged in
        </div>
        <div v-show="loading"> 
            <!-- v-show는 display:none 속성이고 v-if는 태그자체를 생성하지 않음 -->
            Loading......t
        </div>
        <!-- TODO: 인풋박스를 만들고 입ㄺ된 값을 p태그에 출력해보세요 -->
        <input type="text" v-model="message"> 
        <!-- v-model은 data에 접근 -->
        <p>{{ message }}</p>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
                str:'hi',
                num: 10,
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message:''
            },
            computed:{ 
                doubleNum: function(){
                    return this.num*2;
                }
            }
        })
    </script>

</body>
</html>